.example-card {
    max-width: 60%;
    min-width: 640px;
  }
  
  .example-header-image {
    background-image: url('https://cataas.com/cat');
    background-size: cover;
  }

  .centerSpinner{
    margin: auto;
  }