<div style="margin-bottom: 30px;" *ngFor="let post of posts; let elementIndex = index">
    <mat-card style="margin:auto;" class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Random Cat {{elementIndex + 1}}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-spinner class="centerSpinner" *ngIf="post.isLoading"></mat-spinner>
        <img mat-card-image (load)="post.isLoading=false" [src]="post.image" alt="Photo of a cat">
        <mat-card-actions>
            <mat-icon matSuffix (click)="likePost(elementIndex)">{{post.like}}</mat-icon>
            {{post.likeNumber}}
            <mat-icon style="margin-left: 20px;" matSuffix (click)="sharePost(elementIndex)">share</mat-icon>
        </mat-card-actions>
        <mat-card-content>
            <p>
                {{post.fact}}
            </p>    
            <div *ngFor="let comment of post.commentList; let indexComment = index" class="commentP d-flex d-flex-nowrap">
                <p style="margin-right: 0.5rem; font-weight: bold;">
                    {{comment.emitter}}
                </p>
                <p style="margin-right: 0.5rem;">
                    {{comment.text}}
                </p>
                <p style="margin-right: 0.5rem;">
                    {{comment.creationDate}}
                </p>
                <mat-icon (click)="cambiarLike(indexComment, elementIndex)" [ngClass]="{'rojo': comment.likeComment, 'negro': !comment.likeComment}" matSuffix style="size: 10px;">favorite_border</mat-icon>
            </div>
        </mat-card-content>
        <mat-form-field style="width: 100%;">
            <mat-label>Comment</mat-label>
            <input (keyup.enter)="addComment(elementIndex)" [(ngModel)]="newComments[elementIndex]" matInput
                placeholder="Add comment">
            <mat-icon matSuffix (click)="addComment(elementIndex)">add_circle_outline</mat-icon>
        </mat-form-field>

    </mat-card>
</div>