.isCheckedStyle{
    text-decoration:line-through;
    font-weight: bold;    
}

.cardStyle{
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
.cardStyle:hover{
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px hsl(216, 78%, 57%);
}

.prettyCheckBox{
    width: 100%;
    font-size: large;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}